<p>Week 1</p>
<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>0</td>
        <td>0</td>
        <td>The response provided by the student does not provide describe what functionality of the program is
            demonstrated in the video</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>He answered all the prompts and criteria so I think he gets a 1</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>0</td>
        <td>0</td>
        <td>The list used in data abstraction is not neccary for managing complexity and the same this can be done in diffrent ways.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>DOes include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
</table>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided by the student meets all the criteria. the cideo shows input, output and program functionality. the written
             part show functionality, overall purpose and the input and output in the video.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>He answered all the prompts and criteria so I think he gets a 1. shows that data is stored 
            in a list and shows it is being used in the program purpose. gives sthe varible used for the list. explains 
            what the data in the list represent.</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>1</td>
        <td>1</td>
        <td>Shows the list is being used to manage complexity and explains how it does so by proving that it 
            could not be written diffrently or it would be without using a list.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>DOes include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    
</table>
<h1>Week 2</h1>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>0</td>
        <td>0</td>
        <td>the video meets all the criteria but the written response does not. The intend purpose is not specified properly. The student also does not 
            describe what the functionality of the progra is demonstraated in the video. The descripption of the input and output of the program is
            wrong and not properly described.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>0</td>
        <td>0</td>
        <td>the student does not show a code segemnt of the list and also does not show a code segment about how the list is used to store 
            data and use it in fullfilling the program puprpose.</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>0</td>
        <td>0</td>
        <td>code segment provdided does not show a lsit being used.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>0</td>
        <td>0</td>
        <td>The response does not describe how this procedure contributes to the overall functionality. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    
</table>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided by the student meets all the criteria. the video shows input, output and program functionality. the written
             part show functionality, overall purpose and the input and output in the video.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>He answered all the prompts and criteria so I think he gets a 1. shows that data is stored 
            in a list and shows it is being used in the program purpose. gives sthe varible used for the list. explains 
            what the data in the list represent.</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>1</td>
        <td>1</td>
        <td>Shows the list is being used to manage complexity and explains how it does so by proving that it 
            could not be written diffrently or it would be without using a list.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>DOes include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    
</table>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>1</td>
        <td>0</td>
        <td>The response provided by the student meets all the criteria. the cideo shows input, output and program functionality. the written
             part show functionality, overall purpose and the input and output in the video.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>He answered all the prompts and criteria so I think he gets a 1. shows that data is stored 
            in a list and shows it is being used in the program purpose. gives sthe varible used for the list. explains 
            what the data in the list represent.</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>1</td>
        <td>1</td>
        <td>Shows the list is being used to manage complexity and explains how it does so by proving that it 
            could not be written diffrently or it would be without using a list.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>DOes include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    
</table>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided by the student meets all the criteria. the cideo shows input, output and program functionality. the written
             part show functionality, overall purpose and the input and output in the video.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>0</td>
        <td>0</td>
        <td>the List used is in the second code segment provided does not show the data stored in the list being used only the length is being used. I read the code 
            wrong ans as soon as I saw the calling of the list I assuemed that the data inside it is being used</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>0</td>
        <td>0</td>
        <td>The list being used here is not managing complexity and can be replaced with a counter variable.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>1</td>
        <td>DOes include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    <tr>
        <td>Testing</td>
        <td>1</td>
        <td>0</td>
        <td>the student gives conditions being tested rather than the arguments. I understood the code wrong and the student response wrong. </td>
    </tr>
    
</table>

<h1>Week 3</h1>

<table>
    <tr>
        <td>Category</td>
        <td>Student Score</td>
        <td><a href ="https://drive.google.com/file/d/1heOeGcmxqTjG4Hqf0Vi1YFUZt_Trs_CE/view"></a>Collegebord Score</td>
        <td>comments</td>
    </tr>
    <tr>
        <td>Program purpose</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided by the student meets all the criteria. the video shows input, output and program functionality. the written
             part shows functionality, overall purpose and the input and output in the video.</td>
    </tr>
    <tr>
        <td>data Abstraction</td>
        <td>0</td>
        <td>0</td>
        <td>the List used is in the second code segment provided does not show the data stored in the list being used only the length is being used.</td>
    </tr>
    <tr>
        <td>Managing complexity</td>
        <td>0</td>
        <td>0</td>
        <td>The list being used here is not managing complexity and can be replaced with a counter variable.</td>
    </tr>
    <tr>
        <td>Procedral Abstraction</td>
        <td>1</td>
        <td>0</td>
        <td>Does include the two segements of code that show how  a student-developed procedure
            with at least one parameter that has an effect
            on the functionality of the procedure. I missed one of the criteria </td>
    </tr>
    <tr>
        <td>Algorith Implementation</td>
        <td>1</td>
        <td>1</td>
        <td>The response provided has met all the criteria that is requiered, the person shows iteration, selection, and sequencing. 
            It also has a summary of detailed steps how the identified
            algorithm works in enough detail that someone else
            could recreate it </td>
    </tr>
    <tr>
        <td>Testing</td>
        <td>1</td>
        <td>1</td>
        <td></td>
    </tr>
    
</table>