# Ignore from local build
settings.ini
Gemfile.lock
_posts/2022-08-22-Bash.md
_posts/2022-08-22-My-first-Jupiternotebook.md
_posts/2022-08-24-Google-Doc.md
_posts/2022-08-28-Python-Quiz.md
_posts/2022-08-28-Tool-checks.md
_posts/2022-08-30-dictionaries-and-other.md
_posts/2022-09-11-Performance-Task-ideas.md
_posts/2022-12-01-unit-3-section5.md
_posts/2022-12-05-Section-eight.md
_posts/2022-12-06-Lessons-9-and-11.md
_posts/2022-12-08-section-twelve.md
_posts/2022-12-09-all-notes.md
_posts/2022-12-12-hw.md
_posts/2022-12-12-section-14-and-15.md
_posts/2022-12-14-section-17-18.md
_posts/2022-12-16-extra-notes-and-vocab.md
_posts/2023-01-10-PBL-model.md
_posts/2023-03-07-AP-unit2-2.md